/* body{
    line-height: 1.5px;
} */
h1{
    font-family: 'Barrio', cursive;
    color: rgb(35, 35, 61);
    letter-spacing: 5px;
   
}
p{
    letter-spacing: 3px;
    
}
h3{
    font-family: 'Barrio', cursive;
    background-color: rgb(35, 35, 61);
    letter-spacing: 5px;
    opacity: .98;
    color: white;
    padding: 10px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
}

.images{
    height: 225px;
    width: 275px;
    margin-left: 22px;
    margin-bottom: 25px;
}
img:hover{
    opacity: .8;
}
#bill{
    font-size: 26px;
    padding: 12px;
}
.stats{
    margin-bottom: 5px;
    padding-bottom: 0px;
}